// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin bugrap {
  @include valo;

  // Insert your own theme rules here
  .login-container {
  	border: 3px solid #f1f1f1;
  	background: white;
  }
 
  .login-container .v-slot-large { text-align: left;  }
  
  .login-container .v-slot-large .v-icon-bug { margin-right: 7px; }
  //.full-screen { max-width: 800px; }
  .main { width: 100%; height: 100%;}

  .project-line {
  	border-bottom: 1px solid;
  }
   //.header-top-right{ font-size: 12px; }
   //.header-top-right{ margin-left:auto; margin-right: auto }
   .header-top-right{
		.label-username { 
		padding-right: 10px; 
		border-right: 2px solid #C8C8C8;
		font-size: $v-font-size--small;
		font-weight: $v-font-weight + 100;
		margin-left: 7px;
	}
	.v-button-caption { text-decoration: underline;}
  }
  /*
  .v-button-active {
  	@include valo-button-style($unit-size:25px,$background-color: #BEBEBE,$shadow:0px 0px 4px #ccc,$border-radius:10px);
  }
  */
    
  .v-label-caption {  
  	font-size : $v-caption-font-size;
  	font-weight: $v-caption-font-weight;
  }
  
  .v-menubar-selection {
  	@include valo-menubar-style($unit-size: $v-unit-size * 0.8);
  	font-size: $v-font-size;
  	border-radius:12px;
  	overflow:hidden;
  	
  	.v-menubar-menuitem-caption { font-weight: 400; width: 80px; display:inline-block;}
  	
    .v-menubar-menuitem-checked, .v-menubar-menuitem-selected-children {
  	  
  	   		@include valo-menubar-menuitem-checked-style($v-selection-color);  	 		
		  	
	  	   .v-menubar-menuitem-caption {font-weight: bold;}
  	}
  	
  }
  
  .v-grid-cell.priority { letter-spacing: -5px; }
   
}
